* {
    margin: 0;
  
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
  }
  
  html {
    scroll-behavior: smooth;
  
  }
  
  
  
  
  
  /* Navigation section----------------------------------- */
  
  nav {
  
    background: rgb(0, 0, 0);
    height: 125px;
    width: 100%;
  }
  
  .title {
    color: rgb(8, 252, 252);
    font-family: 'Lobster', cursive;
    /* font-family: forte; */
    font-size: 55px;
    margin-left: 40px;
    text-shadow: -5px 2px 2px #0a0a0a;
    letter-spacing: 0.5rem;
    padding: 0 60px;  
  }
  
  .tag {
    color: rgb(248, 6, 6);
    /* text-decoration: underline; */
    font-size: 1.2rem;
    font-family: 'Lobster', cursive;
    margin-left: 180px;
    word-spacing: 0.1rem;
    letter-spacing: 0.2rem;
    font-weight: 900;
    text-shadow: -1px -1px 1px #121213;
  }
  
  nav ul {
    float: right;
    margin-right: 80px;
  }
  
  nav ul ul{
    position: absolute;
    top: 120.5px;
    left: 1375px;
    display: none;
  }
  
  nav ul li:hover>ul{
    margin: auto;
    display: block;
    transition: .5s;
    }
  
  nav ul li {
    display: inline-block;
    margin: 0 6px;
  }
  
  .btn a{
    color: black;
    background-color: white;
  }

  .btn a:hover:after{
    display: none;
  }
  nav ul li a {
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  nav ul li a.active,
  nav ul li a:hover {
    background: cyan;
    transition: .5s;
    color: black;
  }
  
  /* .item a:after {
    display: none;
  } */
  
  
  .item .dropbtn {
    font-size: 50px;    
    color: white;
    background: none;
    margin-top: -26px;
    cursor: pointer;
  }
  
  .userbtn{
  margin-bottom: -5px;
  }
  
  .userbtn:hover{
    color: cyan;
    transition: .5s;
  }
  
  /* 
  a.active{
    background: #1b9bff;
    transition: 0.5s;
  }
   */
  
  .checkbtn {
    font-size: 28px;
    color: white;
    float: right;
    line-height: 9px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    margin-top: 38px;
    /* box-shadow: 0 0rem 5rem 1rem rgb(248, 245, 245); */
  }
  
  .checkbtn:hover{
  
    box-shadow: 0px 2px 4px 4px rgb(4, 255, 255);
   
  }
  #check {
    display: none;
  
  }
  
@media only screen and (max-width: 858px) {
    .checkbtn {
      display: block;;
    }
  
    nav {
      height: 110px;
      width: 100%;
    }
  
    nav .title {
      font-size: 35px;
    }
  
    .tag {
      margin-left: 160px;
  }
  
    ul{
      position: fixed;
      width: 20%;
      height: 50vh;
      background: rgba(6, 6, 6, 0.65);
      top: 100px;
      right: -100%;
      text-align: left;
      transition: all .4s;
      z-index: 1;
    }
  
    nav ul{
      margin-right: -1px;
    }
    
    nav ul li {
      display: block;
      margin: 35px 0;
      line-height: 20px;
    }
  
    nav ul li a {
      font-size: 20px;
      color:#0087ca;
    }
  
  a{
    position: static;
  }
  a:after {
   
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color:red;
    transform-origin: bottom right;
    transition: transform 0.35s ease-out;
  }
  
  a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  nav ul li a:hover,
  nav ul li a.active {
    background: none;
    color: rgb(2, 255, 255);
    } 
  
    .item .dropbtn {
      font-size: 40px;    
      color: white;
      margin-top: -18px;
      text-align: left;
    }

    nav ul li:hover>ul{
      margin-right: 210px;
    }
    
    nav ul ul{
      position: absolute;
      top: 310px;
      left: 50px;
      display: none;
      background: none;
    }

  
    .btn a{
      color: rgb(230, 26, 26);
      background-color: rgb(0, 0, 0,0.85);
      font-size: 16px;
      padding: 5px; 
    }
  
    .btn a:hover{
      color: red;
      background-color: rgb(0, 0, 0,0.65);
      font-weight:800;
  
    }
  
    #check:checked~ul {
      right: 0;
    }
  
  }

  
  
  
  
  /* Home section------------------------------------------*/
  
  .home {
    display: flex;
    flex-direction: column;
    margin: -11.8rem;
    justify-content: center;
    align-items: center;
    height: 840px;
  }
  
  .home::before {
    content: "";
    background-image: url("G:\Foodie-zone\foodiezone\src\Components\img\bg24.png");
    position: absolute;
    height: 80%;
    width: 100%;
    z-index: -2;
    opacity: 0.95;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 8px 8px 6px grey;
  }
  
  .home .search-container {
    float: right;
  }
  
  .search-container input {
    width: 35rem;
    height: 3.8rem;
    padding: 6px;
    margin-top: 290px;
    border: none;
    font-size: 1.4rem;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    box-shadow: -2.5px 4px 4px 1px rgb(4, 255, 255);
    color: rgb(0, 255, 0);
    border-radius: 12px 0px 0px 12px;
  }
  
  .search-container button {
    width: 4rem;
    height: 3.75rem;
    float: right;
    padding: 6px 10px;
    margin-top: 290px;
    margin-right: 34rem;
    background: rgb(0, 0, 0,0.85);
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    box-shadow: 2.5px 4px 4px 1px rgb(4, 255, 255);
    border-radius: 0px 12px 12px 0px;
  }
  
  .home .search-container button:hover {
    background: rgb(177, 166, 166,0.01);
    color: rgb(0, 255, 0);
  }
  
  ::placeholder {
    font-size: 1.2rem;
    letter-spacing: 0.07rem;
    color: red;
    font-weight: 600;
  
  }
  
  @media (max-width: 858px) {
    .search-container input {
      width: 26rem;
      height: 46px;
      margin-top: 125px;
    }
  
  .search-container button {
    width: 3.5rem;
    height: 46px;
    margin-top: 125px;
    margin-right: 2rem 
  }
  
  }
  @media (max-width: 375px)  {
   
    nav .title {
      font-size: 25px;
      display: contents;
    }
  
    .tag {
      margin-left: 60px;
  }
  }